git+https://github.com/MaastrichtUniversity/dh-python-irods-utils.git@v1.0.7#egg=dh-python-irods-utils
cryptography
jsonschema==3.0.2
pyrsistent==0.16.1
irods-avu-json==2.2.0
requests==2.25.1
requests_cache==0.5.2
